@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 45rem;
    margin: 3rem auto;
    border: 1px solid #dbdbdb88;
    border-radius: 12px;
    background-color: #e4e2e2;
    box-shadow: 20px 20px 60px #c8c8c8, -20px -20px 60px #ffffff;

}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header button {
    margin: 2rem;
    border: none;
    border-radius: 7px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 14px #cccccc, inset -7px -7px 14px #f4f4f4
}

.section-header button:first-child {
    color: #313131;
}

.section-header i {
    font-size: 3rem;
    margin: 1.6rem;
    padding: 8px;
}

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem;
}


.section-main>h4 {
    margin: 3rem 0;
    font-size: 2.4rem;
    color: #4b4a4a;
}

.img-container {
    position: relative;
    width: 30rem;
    height: 30rem;
  }
  
  .img-container::after {
    content: '';
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 30rem;
    width: inherit;
    position: absolute;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.progress-container {
    background: #FFF6EA;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #18e3f1;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

.section-control {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}

.section-control i {
    font-size: 4rem;
}

.section-control button {
    color: #4b4a4a;
    padding: 1.6rem;
    border: none;
    border-radius: 23px;
    background: #e0e0e0;
    box-shadow: -5px 5px 10px #d0d0d0, 5px -5px 10px #f0f0f0;
}

.section-control button:hover{
    box-shadow: inset -5px 5px 10px #d0d0d0, inset 5px -5px 10px #f0f0f0;
}

.section-control button:nth-child(2) {
    color: #18e3f1;
    border-radius: 23px;
    background: #e0e0e0;
    box-shadow: inset -5px 5px 10px #d0d0d0, inset 5px -5px 10px #f0f0f0;
}


.section-control button:nth-child(2):hover {
    box-shadow: -5px 5px 10px #d0d0d0, 5px -5px 10px #f0f0f0;
}

